/*Filipe*/
*{
    margin: 0px;
    padding: 0px;
  }
  body{
    background-color: #4F6F52;
    margin: 0px;
    padding: 0px;
  }
  .container{
    background: #3f4441;
    margin: 0 auto;
    padding-top: 1px;
    padding-bottom: 5px;
  }
  .comment, .reply{
    margin-top: 5px;
    padding: 1%;
    border-bottom: 10px solid black;
  }
  .reply{
    border: 2px solid #ccc;
  }

  form{
    margin: 10px;
  }
  form h3{
    margin-bottom: 5px;
  }
  form input, form textarea{
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
  }
  form button.submit, button{
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    width: 30%;
  }
  button.reply{
    background: orange;
  }

  h4{
    color: rgb(35, 137, 46);
  }

  h3{
    color:white;
  }

/*Lou*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: #1A4D2E;
  overflow: hidden;
  margin: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  /*border: 1px solid #000000;*/
  border-radius: 0px;
  box-shadow: inset 0 0 0 2px black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #1A4D2E;
  color: white;
}

.navleft {
  float: left;
  width: 88%;
}

.navright {
  float: left;
  width: 12%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: white;
  margin: 0px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
  font: Serif;
  color: black;
}

.maintitle {
  background-color: #1A4D2E;
  padding: 50px;
  margin: 0px;
}

.card {
  background-color: #E8DFCA;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-color: black;
  border: 1px solid #000000;
}