  /*  LOU */
  

  /* Main assembly */
  body {
    background-color: #d3d3d3;
    padding: 0;
    margin: 0;
  }

  h1 {
    text-align: center;
    font-size: 60px;
    color: white;
    margin: 0px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
    font: Serif;
  }

  .maintitle {
    background-color: #1A4D2E;
    padding: 50px;
    margin: 0px;
  }

  /* Defining the canva class */
  .canvas {
    background-color: #4F6F52;
    margin: 0px;
    padding: 0px;
  }

  .description {
    margin-top: 10px;
  }

  .card {
    background-color: #E8DFCA;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .profilecolumn {
    float: left;
    background-color: #1A4D2E;
    color: white;
    border: 3px;
    width: 300px;
    
    margin-left: 2%;
    margin-right: 0px;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-bottom: 20px;
  }

  .profileimage {
    background-color: gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 300px;
    margin-bottom: 20px;
    height: 250px;
    object-fit: cover;
  }

  .footer {
    background-color: #1A4D2E;
    padding: 30px;
    color: white;
    text-align: center;
  }

  .name {
    font-size: 40px;
    margin-top: 10px;
  }

  .job {
    font-size: 20px;
    margin: 10px;
  }

  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #1A4D2E;
    overflow: hidden;
    margin: 0px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    /*border: 1px solid #000000;*/
    border-radius: 0px;
    box-shadow: 1px solid black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #E8DFCA;
    color: black;
  }

  /* Defines a column */
  .column {
    float: left;
    width: 50%;
  }

  /* Defines a column in the navbar */
  .navleft {
    float: left;
    width: 88%;
  }

  .navright {
    float: left;
    width: 12%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }