/* styles.css */
/* Deni Code */

body {
    text-align: center;
    font-style: oblique;
    background-color: #c0c0c0;
    margin-left: 10%;
    margin-right: 10%;
}

.container {
    text-align: center;
    margin: auto;
}

form {
    text-align: center;
    margin: auto;
    width: 100%;
    /* border: 3px solid #737373; */
}

.button {
    width: 15px;
}

.window {
    width: 50%;
    height: 320px;
    margin: auto;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.title-bar-text {
    font-size: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

.title-bar-controls {
    min-height: 12px;
}

.window-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-btn input {
    width: 100%;
    padding: 10px;
    /*background-color: #007BFF;*/
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

/*.form-btn input:hover {background-color: #0056b3;}*/

.alert {
    color: red;
    margin-bottom: 15px;
}